@page
@model SecondHandWebShop.Pages.Hats.CreateHatsModel
@{
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<div class="container">
    <h3>Add Hat</h3>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Hats.Name"></label>
                <input asp-for="Hats.Name" class="form-control" />
                <span class="alert-danger" asp-validation-for="Hats.Name"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Hats.Description"></label>
                <input asp-for="Hats.Description" class="form-control" />
                <span class="alert-danger" asp-validation-for="Hats.Description"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Hats.Price"></label>
                <input asp-for="Hats.Price" class="form-control" />
                <span class="alert-danger" asp-validation-for="Hats.Price"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="Hats.ImageUrl"></label>
                <input asp-for="Hats.ImageUrl" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Hats.ImageUrl"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Hats.Brand"></label>
                <input asp-for="Hats.Brand" class="form-control" />
                <span class="alert-danger" asp-validation-for="Hats.Brand"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Hats.TypeOf"></label>
                <input asp-for="Hats.TypeOf" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Hats.TypeOf"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Hats.Color"></label>
                <input asp-for="Hats.Color" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Hats.Color"></span>
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="allhats">Cancel</a>
    </form>
</div>