@page
@model SecondHandWebShop.Pages.Jewelries.EditJewelriesModel
@{
}


<div class="container">
    <h3>Edit Jewelry</h3>
    <hr />
    <br />
    <form method="post">
        <input asp-for="Jewelries.Id" type="hidden" />
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jewelries.Name"></label>
                <input asp-for="Jewelries.Name" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jewelries.Description"></label>
                <input asp-for="Jewelries.Description" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jewelries.Price"></label>
                <input asp-for="Jewelries.Price" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jewelries.ImageUrl"></label>
                <input asp-for="Jewelries.ImageUrl" cl class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jewelries.Brand"></label>
                <input asp-for="Jewelries.Brand" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jewelries.TypeOf"></label>
                <input asp-for="Jewelries.TypeOf" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jewelries.Material"></label>
                <input asp-for="Jewelries.Material" class="form-control" />
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="alljewelries">Cancel</a>
    </form>
</div>