@page
@model SecondHandWebShop.Pages.AdminViewModel
@{
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="text-right">
    <a class="btn btn-outline-secondary" asp-page="AdminView" asp-page-handler="Logout">Logout</a>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome @*@Model.UserName*@ Marianne</h1>

</div>
<br />
<div class="text-center">
    <h6>Add new product</h6>
    <div class="btn-group">
        <div class="display-4">
            <a class="btn btn-secondary" role="button" href="./Admin/Hats/AllHats">Hats</a>
            <a class="btn btn-secondary" role="button" href="./Admin/Jackets/AllJackets">Jackets</a>
            <a class="btn btn-secondary" role="button" href="./Admin/Jewelries/AllJewelries">Jewelries</a>
            <a class="btn btn-secondary" role="button" href="./Admin/Shirts/AllShirts">Shirts</a>
            <a class="btn btn-secondary" role="button" href="./Admin/Shoes/AllShoes">Shoes</a>
            <a class="btn btn-secondary" role="button" href="./Admin/Trouser/AllTrousers">Trousers</a>
        </div>
    </div>
</div>

