@page
@model SecondHandWebShop.Pages.AdminViewModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.UserName</h1>
    <a asp-page="AdminView" asp-page-handler="Logout">Logout</a>
</div>
