@page
@model SecondHandWebShop.Pages.OrderDetailsModel
@{
}



<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/orderdetails.css">
<hr />
<br />
<br />
        <div class="card">
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                <i class="checkmark">✓</i>
            </div>
            <h1>Success</h1>
                <p>Vi har mottagit din order!<br />  Du har ordernummer: @Model.Order.OrderId.ToString()</p>
        </div>



