@page
@model SecondHandWebShop.Pages.ProductModel
@{
}
<div class="container">

    <div class="row">
        <!-- /.col-lg-3 -->

        <div class="col-sm-12">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="https://picsum.photos/900/400" alt="">
                <div class="card-body">
                    <h3 class="card-title">Rock</h3>
                    <p class="card-text">En fin rock.</p>
                    <a href="#" class="float-right btn btn-info">Köp</a>
                    500 kr
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Info
                </div>
                <div class="card-body">
                    <p>Storlek: L</p>
                    <hr />
                    <p>Material: 100% Ull</p>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>