@page
@model SecondHandWebShop.Pages.Shoes.CreateShoesModel
@{
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<div class="container">
    <h3>Add shoe</h3>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shoes.Name"></label>
                <input asp-for="Shoes.Name" class="form-control" />
                <span class="alert-danger" asp-validation-for="Shoes.Name"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shoes.Description"></label>
                <input asp-for="Shoes.Description" class="form-control" />
                <span class="alert-danger" asp-validation-for="Shoes.Description"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shoes.Price"></label>
                <input asp-for="Shoes.Price" class="form-control" />
                <span class="alert-danger" asp-validation-for="Shoes.Price"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shoes.ImageUrl"></label>
                <input asp-for="Shoes.ImageUrl" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Shoes.ImageUrl"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shoes.Brand"></label>
                <input asp-for="Shoes.Brand" class="form-control" />
                <span class="alert-danger" asp-validation-for="Shoes.Brand"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shoes.TypeOf"></label>
                <input asp-for="Shoes.TypeOf" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Shoes.TypeOf"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shoes.Gender"></label>
                <input asp-for="Shoes.Gender" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Shoes.Gender"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shoes.Size"></label>
                <input asp-for="Shoes.Size" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Shoes.Size"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shoes.Material"></label>
                <input asp-for="Shoes.Material" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Shoes.Material"></span>
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="allshoes">Cancel</a>
    </form>
</div>