@page
@model SecondHandWebShop.Pages.Jackets.CreateJacketsModel
@{
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<div class="container">
    <h3>Add Jacket</h3>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jackets.Name"></label>
                <input asp-for="Jackets.Name" class="form-control" />
                <span class="alert-danger" asp-validation-for="Jackets.Name"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jackets.Description"></label>
                <input asp-for="Jackets.Description" class="form-control" />
                <span class="alert-danger" asp-validation-for="Jackets.Description"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jackets.Price"></label>
                <input asp-for="Jackets.Price" class="form-control" />
                <span class="alert-danger" asp-validation-for="Jackets.Price"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jackets.ImageUrl"></label>
                <input asp-for="Jackets.ImageUrl" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Jackets.ImageUrl"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jackets.Brand"></label>
                <input asp-for="Jackets.Brand" class="form-control" />
                <span class="alert-danger" asp-validation-for="Jackets.Brand"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jackets.TypeOf"></label>
                <input asp-for="Jackets.TypeOf" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Jackets.TypeOf"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jackets.Gender"></label>
                <input asp-for="Jackets.Gender" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Jackets.Gender"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jackets.Material"></label>
                <input asp-for="Jackets.Material" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Jackets.Material"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jackets.Size"></label>
                <input asp-for="Jackets.Size" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Jackets.Size"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Jackets.Color"></label>
                <input asp-for="Jackets.Color" cl class="form-control" />
                <span class="alert-danger" asp-validation-for="Jackets.Color"></span>
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="alljackets">Cancel</a>
    </form>
</div>