@page
@model SecondHandWebShop.Pages.Shirts.EditShirtsModel
@{
}


<div class="container">
    <h3>Edit Shirt</h3>
    <hr />
    <br />
    <form method="post">
        <input asp-for="Shirts.Id" type="hidden" />
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shirts.Name"></label>
                <input asp-for="Shirts.Name" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shirts.Description"></label>
                <input asp-for="Shirts.Description" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shirts.Price"></label>
                <input asp-for="Shirts.Price" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shirts.ImageUrl"></label>
                <input asp-for="Shirts.ImageUrl" cl class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shirts.Brand"></label>
                <input asp-for="Shirts.Brand" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shirts.TypeOf"></label>
                <input asp-for="Shirts.TypeOf" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shirts.Gender"></label>
                <input asp-for="Shirts.Gender" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shirts.Material"></label>
                <input asp-for="Shirts.Material" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shirts.Size"></label>
                <input asp-for="Shirts.Size" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Shirts.Color"></label>
                <input asp-for="Shirts.Color" class="form-control" />
            </div>
        </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="allshirts">Cancel</a>
    </form>
</div>